:root {
    --bg-color: #22212c;
    --text-color: #837e9f;
    --bg-techs: #cb92b1;
    --header-footer-color: #1c1b22;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro' ,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: var(--header-footer-color);
    padding: 20px;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--bg-techs);
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform:  rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform:  rotate(45deg) translate(-5px, -7px);
}

.header_content {
    background-color: var(--header-footer-color);
    display: flex;
    max-height: 68px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

header h1{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
    transition:  .3s;
}

header nav {
    display: flex;
}

header nav a {
    padding: 22px 30px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

a {
    transition: 0.3s;
}

a:hover {
    transform: scale(1.1)
}

.home-hero {
    background: linear-gradient(to right,
    rgba(245, 245, 245, 0.8), 
    rgba(245, 245, 245, 0.8),
    url(./assets/background_home-hero.jpg));

    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.home-hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

.heading-primary {
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: var(--bg-techs);
    font-weight: 800;
}

.home-hero_info {
    margin: 30px auto 0 auto;
    max-width: 80rem;
}

.text-primary {
    color: var(--bg-techs);
    font-size: 22px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}



.main {
    display: flex;
    margin-top: 100px;
    flex-grow: 1;
}

.sobre, .skills {
    flex: 1;
    padding: 20px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills ul li {
    list-style: none;
    text-align: center;
    background: var(--bg-techs);
    color: white;
    width: 80px;
    margin: 3%;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.social a {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.social a:hover {
    transform: scale(1.1);
}

.social a {
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none; 
    color: var(--bg-techs); 
}

.curriculo, .projetos {
    text-align: center; 
    padding: 20px;
    margin-bottom: 30px;
}

.curriculo a {
    background-color: var(--bg-techs);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column; 
        margin-top: 100px;
    }

    .sobre, .skills {
        width: 100%; 
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .header_content {
        max-height: 1000px;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--header-footer-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    
}